
  <div class="container">
  <div style="margin-top:10px;display:flex;justify-content:center">
  <div style="display:inline-block;vertical-align:top;">
  <img src="/assets/images/logo.jpg" alt="image" width="40" height="40">
  </div>
  <div style="display:inline-block;">
    <h1 style="color:darkmagenta">
    Job Hunt App
    </h1>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email and password</h6>
                </div>
                <form >
                    <form #LoginForm="ngForm" ngSubmit="onLogin()">
                        
                          <div class="mb-3" >
                            <label for="exampleInputFullName" class="form-label">User Name</label>
                            <input type="text" class="form-control" id="exampleInputFullName" name="fullname"
                            required [(ngModel)]="fullname" #username="ngModel"
                            [class.is-invalid]="username.invalid && (username.dirty || username.touched)"
                            [class.is-valid]="username.valid && (username.dirty || username.touched)">
                            <span class="invalid-feedback"
                            *ngIf="(username.touched || username.dirty) && username.errors?.['required']">
                          Username is mandatory</span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" name="pass"
                          required [(ngModel)]="pass" #pwd="ngModel"
                          [class.is-invalid]="pwd.invalid && (pwd.dirty || pwd.touched)"
                          [class.is-valid]="pwd.valid && (pwd.dirty || pwd.touched)">
                          <span class="invalid-feedback"
                            *ngIf="(pwd.touched || pwd.dirty) && pwd.errors?.['required']">
                              Password is mandatory</span>
                        </div>
                        <a [class.disabled]="LoginForm.invalid" routerLink="/home" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
                      </form>
                </form>
                <a style="color:#fff;margin-top:10px;text-decoration:none" routerLink="/signup">New User? Click to signup!!</a>
                <a style="color:#fff;margin-top:10px;text-decoration:none" routerLink="/forgot-password">Forgot Password</a>
            </div>
        </div>
    </div>
</div>

