<app-navbar></app-navbar>
<div class="container mt-3">

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label text-black">Enter Username</label>
    <input type="text" class="form-control" id="formGroupExampleInput">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label text-black">Enter New Password</label>
    <input type="text" class="form-control" id="formGroupExampleInput2">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label text-black">ReEnter New Password</label>
    <input type="text" class="form-control" id="formGroupExampleInput2">
  </div>
 
  
    
    <button type="submit" class="btn btn-primary">Submit</button>

  

  </div>