<div class="container mt-3">

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Enter Old Password</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Old Password">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Enter New Password</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="New Password">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Confirm New Password</label>
    <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Confirm New Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

  </div>
