<app-navbar></app-navbar>
  <div class="container mt-3">

    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">User Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput">
    </div>
    
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Email</label>
      <input type="text" class="form-control" id="formGroupExampleInput2">
    </div>
    
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Skills</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Qualification</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>

    
  
    </div>
